
body {
   background-color: #d5c8a2;
   @font-face {
      font-family: Charlotte;
      src: url("font/charlotte.otf");
   }
   nav {
      ul {
         list-style-type: none;
         margin: 0;
         padding: .5%;
         overflow: hidden;
         background-color: #7abcd1;
         display: flex;
         justify-content: start;
         align-items: center;
         img {
            display: block;
            width: 6%;
            margin-right: 30%;
         }
         li {
            display: inline;
            a {
               display: block;
               text-decoration: none;
               text-align: center;
               color: #fff;
               padding: 0%;
               font-size: 2em;
               font-family: Charlotte, sans-serif;
            }
         }
      }
   }

   h1 {
      text-align: center;
      color: #2b86b9;
      &:hover{
         color: #7abcd1;
      }
   }
   #img {
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
   }
   #boubou{
      display: flex;
      justify-content: center;
      .button {
      border-radius: 3px;
      background-color: #2b86b9;
      border: none;
      padding: 1%;
      &:hover {
         background-color: #7abcd1;
      }
         a {
            text-decoration: none;
            color: white;
         }
      }
   }
}
