body {
   background-color: #d5c8a2;
   h1 {
      text-align: center;
      color: #2b86b9;
      &:hover{
      color: #7abcd1;
      }
   }
   #img {
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
   }
   #boubou{
      display: flex;
      justify-content: center;
      .button {
      border-radius: 3px;
      background-color: #2b86b9;
      border: none;
      padding: 2%;
         a {
            text-decoration: none;
            color: white;
         }
      }
   }
}
