
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@font-face {
   font-family: "Charlotte";
   src: url("../font/charlotte.otf");
}

$police-principale: 'Roboto';
$police-titre: 'Roboto Condensed';
$police-secondaire: 'Roboto Slab';
$police-mono: 'Roboto Mono';
$pp:$police-principale;
$pt:$police-titre;
$ps:$police-secondaire;
$pm:$police-mono;

$desktop-width: 992px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$couleur-principal: #657429;
$couleur-secondaire: #704529;
$cp: $couleur-principal;
$cs: $couleur-secondaire;

%monplaceholder{
    border:1px solid rgba(0,0,0,05);
    border-radius: 20px 0;
    padding: .5em;
    font:{
        weight: bold;
        family:$pm;
    }
    color:#fff;
}
.block{
    &-error{
        @extend %monplaceholder;
        background-color: red;
    }
    &-valid{
        @extend %monplaceholder;
        background-color: green;
    }
    &-warning{
        @extend %monplaceholder;
        background-color: orange;
    }
    &-info{
        @extend %monplaceholder;
        background-color: blue;
    }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #d5c8a2;
   font-family: "Charlotte";
   nav {
      img {
         display: block;
         width: 120px;
         height: 120px;
         margin-right: 5%;
      }
      ul {
         list-style-type: none;
         margin: 0;
         padding: .5%;
         overflow: hidden;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #7abcd1;
         li {
            display: inline;
            a {
               display: block;
               text-decoration: none;
               text-align: center;
               color: #fff;
               padding: 0%;
               font-size: 4em;
               font-family: "Charlotte", sans-serif;
            }
         }
      }
   }

   h1 {
      text-align: center;
      padding: 2%;
      color: #2b86b9;
      &:hover{
         color: #7abcd1;
      }
   }
   #img {
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
   }
   #boubou{
      display: flex;
      justify-content: center;
      vertical-align: middle;
      .button {
      border-radius: 3px;
      background-color: #2b86b9;
      &:hover {
         background-color: #7abcd1;
      }
      border: none;
      padding: .8%;
         a {
            text-decoration: none;
            color: white;
            font-family: Charlotte, sans-serif;
            font-size: 1.4em;
         }
      }
   }
}
